In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.chdir("C:\\Users\\ashik\\Downloads")

In [7]:
pd.read_csv("Churn_Modelling.csv")

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [8]:
data = pd.read_csv('Churn_Modelling.csv')

In [9]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [10]:
data.tail()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [11]:
data.shape

(10000, 14)

In [12]:
print("Number of Rows",data.shape[0])
print("Number of Columns",data.shape[1])

Number of Rows 10000
Number of Columns 14

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [16]:
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [20]:
data.describe(include='all')

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000,10000.000000,10000,10000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
unique,NaN,NaN,2932,NaN,3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,Smith,NaN,France,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,32,NaN,5014,5457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,5000.50000,1.569094e+07,NaN,650.528800,NaN,NaN,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,NaN,96.653299,NaN,NaN,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,NaN,350.000000,NaN,NaN,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,NaN,584.000000,NaN,NaN,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,NaN,652.000000,NaN,NaN,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,NaN,718.000000,NaN,NaN,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,NaN,850.000000,NaN,NaN,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [21]:
data.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [22]:
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [23]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [28]:
data['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [29]:
data = pd.get_dummies(data,drop_first=True)

In [30]:
data.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,0,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,1,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,0,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,0,False,True,False

In [36]:
data['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [38]:
x = data.drop('Exited',axis=1)
y = data['Exited']

In [52]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [53]:
x_train,x_test,y_train,y_test = train_test_split(x, y , test_size=0.3,random_state=3)

In [54]:
x

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,False,False,True
9996,516,35,10,57369.61,1,1,1,101699.77,False,False,True
9997,709,36,7,0.00,1,0,1,42085.58,False,False,False
9998,772,42,3,75075.31,2,1,0,92888.52,True,False,True
9999,792,28,4,130142.79,1,1,0,38190.78,False,False,False

In [116]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [59]:
x_test =sc.fit_transform(x_test)
x_test

array([[ 0.55430583, -0.00746374, -1.04237811, ..., -0.56503205,
        -0.58966846,  0.90819465],
       [-0.0921369 , -0.38697571, -0.0086147 , ..., -0.56503205,
        -0.58966846,  0.90819465],
       [-0.97458253,  0.65668222, -0.3532025 , ...,  1.76981112,
        -0.58966846, -1.10108555],
       ...,
       [ 0.82109172, -0.38697571, -1.73155371, ..., -0.56503205,
        -0.58966846, -1.10108555],
       [-1.57998128, -0.86136568, -1.73155371, ..., -0.56503205,
        -0.58966846,  0.90819465],
       [-0.58466469, -0.10234173, -0.3532025 , ..., -0.56503205,
         1.69586821, -1.10108555]])

In [77]:
from sklearn.linear_model import LogisticRegression

In [79]:
log = LogisticRegression()

In [62]:
log.fit(x_train,y_train)

LogisticRegression()

In [63]:
y_pred1 = log.predict(x_test)

In [64]:
from sklearn.metrics import accuracy_score

In [66]:
accuracy_score(y_test,y_pred1)

0.806

In [67]:
from sklearn.metrics import precision_score,recall_score,f1_score

In [68]:
precision_score(y_test,y_pred1)

0.5755102040816327

In [72]:
f1_score(y_test,y_pred1)

0.3263888888888889

In [69]:
recall_score(y_test,y_pred1)

0.22778675282714056

In [80]:
from sklearn.ensemble import RandomForestClassifier

In [81]:
rf = RandomForestClassifier()

In [82]:
rf.fit(x_train,y_train)

RandomForestClassifier()

In [83]:
RandomForestClassifier()

RandomForestClassifier()

In [84]:
y_pred5=rf.predict(x_test)
accuracy_score(y_test,y_pred5)

0.8573333333333333

In [87]:
from sklearn import svm

In [88]:
svm = svm.SVC()

In [95]:
svm.fit(x_train,y_train)

SVC()

In [96]:
y_pred2 = svm.predict(x_test)

In [97]:
accuracy_score(y_test,y_pred2)

0.857

In [99]:
from sklearn.tree import DecisionTreeClassifier

In [102]:
dt = DecisionTreeClassifier()

In [103]:
dt.fit(x_train,y_train)

DecisionTreeClassifier()

In [104]:
y_pred4 = dt.predict(x_test)

In [105]:
accuracy_score(y_test,y_pred4)

0.7893333333333333

In [106]:
from sklearn.ensemble import GradientBoostingClassifier

In [107]:
gbc = GradientBoostingClassifier()

In [108]:
gbc.fit(x_train,y_train)

GradientBoostingClassifier()

In [109]:
y_pred6 = gbc.predict(x_test)

In [110]:
accuracy_score(y_test,y_pred6)

0.8633333333333333

In [111]:
final_data=pd.DataFrame({'Models':['LR','RF','SVC','DT','GBC'],
                         'ACC':[accuracy_score(y_test,y_pred1),
                                accuracy_score(y_test,y_pred5),
                                accuracy_score(y_test,y_pred2),
                                accuracy_score(y_test,y_pred4),
                                accuracy_score(y_test,y_pred6)]})

In [ ]:
final_data

  Models       ACC
0     LR  0.806000
1     RF  0.857333
2    SVC  0.857000
3     DT  0.789333
4    GBC  0.863333